*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    list-style:none ;
   
}
body{
    overflow-x: hidden;
    background-color: #F6F2F2;
}
html{
    scroll-behavior:smooth;
}
                                                 
.profile{
    margin-right: 15%;
  
}
.home{
    margin-left: 15%;
    margin-top: 15%;
}
hr{
    width: 40%;
    
}


.continer{
    width: 100%;
    height: 100;
    background-color: #3D6582;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    

}
.logo{
    color: white ;
    font-size: 28px;
     padding: 10px 20px; 
    margin-bottom: 15px; 
    font-family: 'Acme', sans-serif;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 15px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
}
nav ul li a:hover{
    color: #ed0909;
    transform: scale(1.1);
    transition: .5s;
} 
                                      /*home section*/
.continar1{
    display: grid;
    grid-template-columns: 70% 30%;
    top:50%;
    left:8%;
    background-color: #F6F2F2;
   
}   
h2{
    color:black;

}
.continar1 h1 {
    color:  #3D6582 ;
    
    margin: 20px 0 20px;
    font-size: 75px;
    
}
.continar1 h3{
    color: #616f79 ;
    font: size 20px; ;
    margin-bottom: 50px;
}
.continar1 h4{
    color:  #616f79;
    letter-spacing: 2px;
    font-size: 20px;

}
  

.title{
    display: grid;
    grid-template-columns: repeat(1 2fr);
    gap: 250px;

}


.container1{
    display: grid;
    grid-template-columns: 70% 30%;
    /* top:50%;
    left:8%; */
    background-color: #F6F2F2;
}
/* .title1{
   display: flex;
   justify-content: center;
   color:  #0a160a ;
   margin-top: 50px;
   margin-bottom: 50px;
   
} */
                             /*resume section*/
h1{
    font-size: 3rem;

}
.mohd{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    margin-left:25%;
    margin-top: 100px;
    border-radius: 20%;
    grid-gap: 50px;

}
.right{
   
    /* margin-left: 30px; */
     /* padding: 10px; */
    
}
.left{
   
    /* margin-right: 30px; */
    /* padding: 10px; */
}
h4{
    margin-bottom: 5px;
    border: 2px solid  #3D6582;
    box-sizing: border-box;
    border-radius: 20%; 
    padding: 3px;
    background-color: #3D6582;
    display: inline;
    
}
.fa-laptop-code{
    color:#3D6582;
    font-size: 30px;

}
.fa-graduation-cap{
   color:#3D6582;
   font-size: 30px;
}
.fa-circle{
    margin-right:5px;
    color:#3D6582 ;
}
                              /*project section*/
.title2{
   display: flex;
   justify-content: center;
   color:  #3D6582 ;
   margin-top: 50px;
   margin-bottom: 50px;
}
.pro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#F6F2F2 ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    /* padding: 25px; */
    margin:15px ;
    transition: .5s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: black;
    font-size: 6em;
    text-align: center;

}
.info{
    text-align: center;
}
.info h3{
    color:#808080;
    font-size: 1.2em;
    font-weight: 700;
    margin: 45px ;
}
h3{
    margin: 5px;
    color:#3D6582;
    font-size: larger;
}
li{
    margin: 20px 0;
    /* padding: 10px; */
}
                                     /* skill section*/
.bar{
    background-color:#3D6582;
    width: 50%;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0,0.3)  ;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    
} 
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0 ,0,0.22);
}
.m2{

    margin-left: 25%;
}
                                 /* footer section*/
.footer{
    background-color: #3D6582;
    color: rgb(244, 244, 232);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer span{
    color: rgb(115, 35, 35);
    text-decoration: underline;
}

.soical-icon{
   font-size: 30px;
}

@media(max-width:1291px){
    .profile{
        display: none;
    }
    .mohd{
        width: 90%;
        margin: 0 auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 14px 0;
        height: 100px;
    }
}