*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    list-style:none ;
   
}
body{
    overflow-x: hidden;
    background-color: #F6F2F2;
}
html{
    scroll-behavior:smooth;
}

                                                 

                                       /*nav section*/
header{
    position: fixed;
    width: 100%;
} 
.me{
    width: 3em;
    color: white ;
    font-size: 50px;
    padding: 0px 15px; 
    font-family: 'Acme', sans-serif;

}                           

.continer{
    width: 100%;
    background-color: #3D6582;
    position: sticky;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li{
  list-style-type:none;
  display:inline-flex;
  padding: 10px 20px;
  margin-bottom: 15px;
  

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    position: sticky;
}
nav ul li a:hover{
    color: #ed0909;
    transform: scale(1.1);
    transition: .5s;
} 
.checkbtn{
    font-size: 30px;
    color: #F6F2F2;
    float:right;
    list-style: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
                                  /*home section*/
.continar1{
    display: grid;
    grid-template-columns: 70% 30%;
    top:50%;
    left:8%;
    background-color: #F6F2F2;
   
} 

.home{
    margin-left: 15%;
    margin-top: 15%;
}
hr{
    width: 40%;
    
}
.button{
    border: 2px solid rgb(20, 11, 11) ;
    border-radius:50px;
    color: rgb(230, 230, 230);
    background-color: #3D6582;
    letter-spacing: 3px;
    font-size:25px;
    text-decoration: none;
    text-align: center;
}
    
.button:hover{
    transform: scale(1.1);
    transition: .5s;
    color: #ed0909;
    padding: 5px;
}
  



h2{
    color:black;
}

 .profile{
    margin-right: 15%;
    display: block;
     width: 90%;
}
.continar1 h1 {
    color:  #3D6582 ;
    
    margin: 20px 0 20px;
    font-size: 75px;
    
}
.continar1 h3{
    color: #616f79 ;
    font: size 20px; ;
    margin-bottom: 50px;
}
.continar1 h4{
    color:  #616f79;
    letter-spacing: 2px;
    font-size: 20px;

}
  

.title{
    display: grid;
    grid-template-columns: repeat(1 2fr);
    gap: 250px;

}


.container1{
    display: grid;
    grid-template-columns: 70% 30%;
    /* top:50%;
    left:8%; */
    background-color: #F6F2F2;
}
                             /*resume section*/
h1{
    font-size: 3rem;

}


.mohd{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    margin-left:18%;
    margin-top: 100px;
    border-radius: 20%;
    grid-gap: 50px;

}
.right{
   
    margin-right: 30px;
    padding: 10px;
    
}
.left{
   
    margin-right: 80px;
    padding: 10px;
}


h4{
    margin-bottom: 5px;
    border: 2px solid  #3D6582;
    box-sizing: border-box;
    border-radius: 20%; 
    padding: 3px;
    background-color: #3D6582;
    display: inline;
    color: rgb(5, 3, 3);
    
}
.fa-laptop-code{
    color:#3D6582;
    font-size: 30px;

}
.fa-graduation-cap{
   color:#3D6582;
   font-size: 30px;
}
.fa-circle{
    margin-right:5px;
    color:#3D6582 ;
}
                              /*project section*/
.title2{
   display: flex;
   justify-content: center;
   color:  #3D6582 ;
   margin-top: 50px;
   margin-bottom: 50px;
}
.pro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#F6F2F2 ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    margin:15px ;
    transition: .5s ease;
}
.card:hover{
    transform: scale(1.1);
}
img{
    border-radius: 50%;
    width: 100%;
    
    
}
.icon{
    color: rgb(15, 14, 14);
    font-size:20px;
    text-align: center;

}
.info{
    text-align: center;
   
}
.info h3{
    color:#808080;
    font-size: 1.2em;
    font-weight: 700;
    /* margin: 45px ; */
}
h3{
    margin: 5px;
    color:#3D6582;
    font-size: larger;
}
.info p{
    font-size: 15px;
   

}


                                     /* skill section*/
 .sk{
   
   text-align: center;
   transition: .5s ease; 
}

.fa-html5{
    font-size: 100px;
   text-align: center;
   color: #3D6582;
   transition: .5s ease;
   margin-right: 55px;
}
.fa-html5:hover{
    transform: scale(1.1);
    color: #ed0909;

}
.fa-css3{
    font-size: 100px;
    text-align: center;
    color: #3D6582;
    transition: .5s ease;
    margin-right: 55px;
}
.fa-css3:hover{
    transform: scale(1.1);
    color: #ed0909;
}
.fa-bootstrap{
    font-size: 100px;
    text-align: center;
    color: #3D6582;
    transition: .5s ease;
    margin-right: 55px;

}
.fa-bootstrap:hover{
    transform: scale(1.1);
    color: #ed0909;
}
.fa-code{
    font-size: 100px;
    text-align: center;
    color: #3D6582;
    transition: .5s ease;
    margin-right: 55px;
}
.fa-code:hover{
    transform: scale(1.1);
    color: #ed0909;
}
.fa-js{
    font-size: 100px;
    text-align: center;
    color: #3D6582;
    transition: .5s ease;
    margin-right: 55px;
    margin-bottom: 25px;
}
.fa-js:hover{
    transform: scale(1.1);
    color: #ed0909;
}


                                 /* footer section*/
.footer{
    background-color: #3D6582;
    color: rgb(244, 244, 232);
    padding: 1% 1% 1%;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
}
.footer span{
    color: rgb(115, 35, 35);
    text-decoration: underline;
}

.soical-icon{
   font-size: 30px;

}
.fa-github {
    color:black ;
    margin-right: 15px;
}
.fa-linkedin{
    color: black;
    margin-right : 15px;

}
.fa-mobile{
    color: black;
    margin-right: 5px;

}
.fa-envelope{
    color: black;
    margin-right: 15px;

}
.fo{
    font-size: 24px;
}

@media(max-width:1291px){
    .profile{
        display: none;
    }
    .mohd{
        width: 90%;
        margin: 0 auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 14px 0;
        height: 100px;
    }
    .home h3{
        font-size: 30px;

     
    }
}